// $primary: #78d3e9;
$primary: #78d3e9;
$secondary: #ed91f4;
$accent: #ebdfdb;

// $dark: #35394d;
$dark: #303446;
// $dark-page: #35394d;
$dark-page: #303446;
// $dark-page: #41455af2;

$positive: #78d3e9;
$negative: #f38b7d;
$info: #89acff;
$warning: #ebdfdb;

$primary-text: #c6d0f5;

$separator-dark-color: #41455a;

$track-color: #303446b4;
$thumb-color: #535768;
$hover-color: #6d7185;

$b-primary: var(--q-primary);
$b-secondary: var(--q-secondary);
$b-accent: var(--q-accent);

$b-primary-rgb: var(--q-primary-rgb);
$b-secondary-rgb: var(--q-secondary-rgb);
$b-accent-rgb: var(--q-accent-rgb);

$b-dark: var(--q-dark);
$b-dark-page: var(--q-dark-page);
$b-positive: var(--q-positive);
$b-negative: var(--q-negative);
$b-info: var(--q-info);
$b-warning: var(--q-warning);
